!!! 5
%html{lang: "en"}
  %head
    = partial "includes/layout/head"
  %body{data: {spy: "scroll", target: ".qnav"}}
    = partial "includes/google/gtm"
    = partial "includes/layout/header"
    = partial "includes/layout/headline"
    .wrapper.handbook-wrapper.clearfix
      %aside.tocs-sidebar
      .container.md-page{ class: (current_page.data.page_class if current_page.data.page_class) }
        %ol.breadcrumb
          %li You are here:
          = breadcrumbs(current_page)
        = partial "includes/layout/handbook_search.html.haml"
        = yield
    = partial "includes/layout/footer"
    = javascript_include_tag "handbook.js"
    -#%script{ src: "/javascripts/egg.js", "data-cookieconsent": "ignore"}
    -#%link{ rel: "stylesheet", href: "/stylesheets/egg.css" }