.wrapper.gitlab-ee-page
  .blank-header
    = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "GitLab hero border pattern left svg"
    = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
    .header-content
      %h1 GitLab or Jenkins
      %p
        Jenkins Plugin Overload? Switch to GitLab and experience 50% less admin overhead, 20% improved developer efficiency and 50% less computing cost.
  .sub-wrapper
    .container
      .row
        .col-md-5.col-md-offset-1
          %h2.compare-heading.u-text-brand.u-margin-top-0 Why customers choose GitLab over Jenkins

          .media.u-margin-top-xs
            .media-body.media-middle
              %h4.u-margin-top-0
                = image_tag "/images/icons/first-look-influence.svg"
                No third party plugins
              %p Jenkins has thousands of plugins written by third parties.  This is a maintenance nightmare for teams and enterprise organizations as plugins vary in quality and can lose support without notice.
              %p GitLab CI provides the backbone of DevOps in a single application without 3rd party plugins, giving you and your team a seamless workflow between SCM & CI.

          .media.u-margin-top-xs
            .media-body.media-middle
              %h4.u-margin-top-0
                = image_tag "/images/icons/computer-test.svg"
                Reduced Risk
              %p With bigger workloads and numerous plugins, many Jenkins users experience service instability.
              %p As a single solution built for enterprise teams, GitLab decreases toolchain downtime and eliminates error-prone integrations. This allows teams to increase agility and deliver apps faster with minimal downtime.

          .media.u-margin-top-xs
            .media-body.media-middle
              %h4.u-margin-top-0
                = image_tag "/images/icons/scale.svg"
                Lower Cost & Increased Efficiency
              %p Plugins are only part of the problem. Jenkins requires dedicated resources, admins, and maintenance - increasing the total cost of ownership across the enterprise.
              %p GitLab requires fewer steps to deploy code and significantly reduces the software development cycle time. Developers can now spend more time writing code and less time maintaining the toolchain.

        .col-md-4.col-md-offset-1
          .webcast-outer-wrapper
            = partial "includes/form-to-resource", locals: { destination_url: current_page.parent.data.destination_url, form_id: current_page.parent.data.form_id, form_type: current_page.parent.data.form_type, cta_title: current_page.parent.data.cta_title, link_text: current_page.parent.data.link_text, success_message: current_page.parent.data.success_message }
