### Package

- See a high level [roadmap](https://gitlab.com/groups/gitlab-org/-/roadmap?scope=all&utf8=✓&state=opened&label_name[]=devops%3A%3Apackage)
- Stage usage can be tracked at the Package [SMAU (Stage Monthly Active Users) Dashboard](https://app.periscopedata.com/app/gitlab/491720/Package-Dashboard)

The goal of the Package group is to build a set of features that, within three years, will allow ninety percent of our customers to store all of their packages in GitLab. In order to accomplish this goal, we must:

1. Unify the Container Registry and the Package Registry to create a seamless user experience for building, testing and releasing code. We will achieve this through [improving the usability of our existing registries](https://gitlab.com/groups/gitlab-org/-/epics/1241) and [standardizing authentication and permissions](https://gitlab.com/groups/gitlab-org/-/epics/1243) for each package manager, as well as [creating visibility and transparency](https://gitlab.com/groups/gitlab-org/-/epics/1244) into the Package and Container Registry itself.
1. Drive adoption by enabling [innersourcing](https://medium.com/@baspeters/take-ownership-of-your-work-adopt-innersource-55e57c0dc8f5) workflows on behalf of our customers. This is the only and best way to achieve adding support for all of the most common [package manager formats](https://gitlab.com/groups/gitlab-org/-/epics/1245) in a timely manner.
1. Improve the performance and reliability of builds by reducing reliance on external dependencies.

The details of how we'll achieve different elements of this can be found in the individual category pages below:

<%= partial("direction/categories-content", :locals => { :stageKey => "package" }) %>
